{
    "env":{
        "browser":true,
        "es6":true,
        "jest":true
    },
    "root":true,
    "parser":"@typesript-eslint/parrser",
    "plugins":["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}